<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
	default-autowire="byName" default-lazy-init="true">

	<!--数据库数据源配置 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!--加载驱动类 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<!--数据库访问地址 -->
		<property name="url" value="jdbc:mysql://localhost:3306/mysql"></property>
		<!--数据库访问用户名 -->
		<property name="username" value="root"></property>
		<!--数据库访问密码 -->
		<property name="password" value="weak"></property>
	</bean>

	<!--spring提供的数据库访问操作类 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	</bean>

	<!-- dao层类 -->
	<bean id="dao" class="com.student.dao.StudentDao">
	</bean>
	<!-- dao层类 -->
	<bean id="teadao" class="com.student.dao.TeacherDao">
	</bean>
	<!-- dao层类 -->
	<bean id="stuteadao" class="com.student.dao.StuteaDao">
	</bean>
	<!-- dao层类 -->
	<bean id="orderdao" class="com.order.dao.OrderDao">
	</bean>
	<!-- dao层类 -->


</beans>